


<table style="border:1px solid black;">
    <p>{{monthName}} Schedule</p>
    <tr ><td>Date</td><td>Day</td><td>Name 1</td><td>Name 2</td></tr>
    <tr *ngFor="let schedule of dailySchedule">
        <td *ngIf="isWeekend(schedule.date)" style="color:red" > {{ schedule.date | date: 'd' :'ar'}}</td>
        <td *ngIf="isWeekday(schedule.date)" > {{ schedule.date | date: 'd' :'ar' }}</td>
        <td *ngIf="isWeekend(schedule.date)" style="color:red" > {{ schedule.date | date: 'EEE' :'ar'}}</td>
        <td *ngIf="isWeekday(schedule.date)" > {{ schedule.date | date: 'EEE ' :'ar' }}</td>
        <!-- <td  > {{ schedule.month}}</td> -->
        <td *ngFor="let pharmacist of schedule.pharmacists">
           <span *ngIf="pharmacist?.isPharmacist" style="color:blue;font-size: large">{{pharmacist?.name}}</span> 
           <span *ngIf="!pharmacist?.isPharmacist" style="color:green; font-size: large;">{{pharmacist?.name}}</span> 
         
        </td> 
    </tr>
</table>

<table>
    <tr ><td>Name</td><td>Total Number</td><td>WeekEnd Number </td><td>Vacations</td><td>Number Of Vacation Days</td></tr>
    <tr *ngFor="let ph of newPharmacists">
        
        <td *ngIf="ph?.isPharmacist" style="color:blue;font-size: large">{{ph.name}}</td>
        <td *ngIf="!ph?.isPharmacist" style="color:green;font-size: large">{{ph.name}}</td>

        <td>{{ph?.monthlySchedules?.[thecurrentMonth]?.ScheduleDetails?.totalSaharNumber}}</td>
        <td>{{ph?.monthlySchedules?.[thecurrentMonth]?.ScheduleDetails?.weekendCountSahar}}</td> 
        <td *ngIf="ph?.monthlySchedules?.[thecurrentMonth]?.ScheduleDetails?.inVacation" style="color:red;font-size: large">YES</td>
        <td *ngIf="!ph.monthlySchedules?.[thecurrentMonth]?.ScheduleDetails?.inVacation" ></td>
        <td *ngIf="ph.monthlySchedules?.[thecurrentMonth]?.ScheduleDetails?.inVacation" style="color:red;font-size: large">
          {{getDateDifference(ph?.monthlySchedules?.[thecurrentMonth]?.ScheduleDetails?.vacationStart,
           ph?.monthlySchedules?.[thecurrentMonth]?.ScheduleDetails?.vacationEnd)}}
        </td>
        <td *ngIf="!ph.monthlySchedules?.[thecurrentMonth]?.ScheduleDetails?.inVacation" >
           0
          </td>
        <!-- <td *ngIf="!ph.inVacation" ></td> --> 
    </tr>
</table>
